<a href="https://colab.research.google.com/github/LatifaAlnaim1996/LatifaAssighnment/blob/main/ML4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Machine Learning G **dataset**

In [ ]:
import pandas as pd 

df = pd.read_csv('https://github.com/gumdropsteve/datasets/raw/master/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species  target
0             5.1          3.5           1.4          0.2     setosa       0
1             4.9          3.0           1.4          0.2     setosa       0
2             4.7          3.2           1.3          0.2     setosa       0
3             4.6          3.1           1.5          0.2     setosa       0
4             5.0          3.6           1.4          0.2     setosa       0
..            ...          ...           ...          ...        ...     ...
145           6.7          3.0           5.2          2.3  virginica       2
146           6.3          2.5           5.0          1.9  virginica       2
147           6.5          3.0           5.2          2.0  virginica       2
148           6.2          3.4           5.4          2.3  virginica       2
149           5.9          3.0           5.1          1.8  virginica       2

[150 rows x 6 columns]

In [27]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  target
0           5.1          3.5           1.4          0.2  setosa       0
1           4.9          3.0           1.4          0.2  setosa       0
2           4.7          3.2           1.3          0.2  setosa       0
3           4.6          3.1           1.5          0.2  setosa       0
4           5.0          3.6           1.4          0.2  setosa       0

In [28]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width      target
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.054000      3.758667     1.198667    1.000000
std        0.828066     0.433594      1.764420     0.763161    0.819232
min        4.300000     2.000000      1.000000     0.100000    0.000000
25%        5.100000     2.800000      1.600000     0.300000    0.000000
50%        5.800000     3.000000      4.350000     1.300000    1.000000
75%        6.400000     3.300000      5.100000     1.800000    2.000000
max        7.900000     4.400000      6.900000     2.500000    2.000000

In [29]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species  target
145           6.7          3.0           5.2          2.3  virginica       2
146           6.3          2.5           5.0          1.9  virginica       2
147           6.5          3.0           5.2          2.0  virginica       2
148           6.2          3.4           5.4          2.3  virginica       2
149           5.9          3.0           5.1          1.8  virginica       2

In [30]:
df.shape

(150, 6)

In [31]:
df.species.str.split(expand=True)[0]

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: 0, Length: 150, dtype: object

In [32]:
df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [33]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
target          0
dtype: int64

In [34]:
d = [{'species':v} for v in df.species]
d

[{'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'setosa'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'versicolor'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'},
 {'species': 'virginica'}]

In [35]:
#t = pd.DataFrame(df)

df=df.fillna(df.mean())

In [36]:
from sklearn.feature_extraction.text import CountVectorizer

vec = CountVectorizer()
X = vec.fit_transform(df.species)
X

<150x3 sparse matrix of type '<class 'numpy.int64'>'
	with 150 stored elements in Compressed Sparse Row format>

In [37]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
target          0
dtype: int64

In [38]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
target          0
dtype: int64

## **Machine Learning Ryiadh data**

In [39]:

import pandas as pd

link = 'https://raw.githubusercontent.com/gumdropsteve/intro_to_machine_learning/main/day_04/data/riyadh.csv'

data = pd.read_csv(link)

In [40]:
data.head()

                           ds  ... chefs_kitchen_bool
0  2021-01-20 04:14:08.745592  ...                NaN
1  2021-01-20 04:14:08.745592  ...                NaN
2  2021-01-20 04:14:08.745592  ...                NaN
3  2021-01-20 04:14:08.745592  ...                NaN
4  2021-01-20 04:14:08.745592  ...                NaN

[5 rows x 40 columns]

In [41]:
data.location.value_counts()

Riyadh                          5064
الرياض                           354
Buraydah                         267
بريدة                             54
Riyadh                            53
boutique hotel                    53
Unayzah                           49
Al Kharj                          47
aparthotel                        46
Al Majmaah                        44
Kingdom of Saudi Arabia City      41
Shaqra                            34
Az Zulfi                          30
serviced apartment                23
Hail                              22
Ad Diriyah                        19
المليداء                          17
الغماس                            17
Al-Muzahmiya                      16
SA                                15
Al Qassim                         13
Al Bukayriyah                     12
Ad Dilam                          12
Rumah                             11
Thadiq                            10
البرج                              8
Al Bahah                           7
Al-Kharj                           6
Riyadh Province                    6
Al Ghat                            4
Almuzahmiyah                       3
Al Duwadimi                        3
النماص                             3
القرينه                            2
Name: location, dtype: int64

In [42]:
len(data.type.unique())

24

In [43]:
data.guests.value_counts()

2.0      1325
0.0       795
3.0       462
4.0       262
5.0        76
6.0        56
7.0        35
103.0      14
8.0         4
40.0        3
Name: guests, dtype: int64

In [44]:
data.isnull().sum()

ds                            0
search_filter              1500
url                           0
title                         0
type                          0
location                      0
guests                     3333
bedrooms                      0
beds                       3333
is_studio                     0
baths                      1018
half_baths                 6339
shared_baths               6221
price                         0
avg_rating                 3165
n_reviews                  3165
gym_bool                   6070
wifi_bool                  3597
self_check_in_bool         5218
air_conditioning_bool      2058
pets_allowed_bool          5578
indoor_fireplace_bool      6229
hot_tub_bool               6186
free_parking_bool          4311
pool_bool                  5051
kitchen_bool               2070
breakfast_bool             6271
elevator_bool              5619
washer_bool                5494
dryer_bool                 6021
heating_bool               6365
waterfront_bool            6364
dishwasher_bool            6348
beachfront_bool            6354
ski_in_ski_out_bool        6365
terrace_bool               6365
sonos_sound_system_bool    6365
bbq_grill_bool             6365
hair_dryer_bool            6365
chefs_kitchen_bool         6365
dtype: int64

In [45]:
data.isnull().sum()

ds                            0
search_filter              1500
url                           0
title                         0
type                          0
location                      0
guests                     3333
bedrooms                      0
beds                       3333
is_studio                     0
baths                      1018
half_baths                 6339
shared_baths               6221
price                         0
avg_rating                 3165
n_reviews                  3165
gym_bool                   6070
wifi_bool                  3597
self_check_in_bool         5218
air_conditioning_bool      2058
pets_allowed_bool          5578
indoor_fireplace_bool      6229
hot_tub_bool               6186
free_parking_bool          4311
pool_bool                  5051
kitchen_bool               2070
breakfast_bool             6271
elevator_bool              5619
washer_bool                5494
dryer_bool                 6021
heating_bool               6365
waterfront_bool            6364
dishwasher_bool            6348
beachfront_bool            6354
ski_in_ski_out_bool        6365
terrace_bool               6365
sonos_sound_system_bool    6365
bbq_grill_bool             6365
hair_dryer_bool            6365
chefs_kitchen_bool         6365
dtype: int64

In [46]:

type_encoded = pd.get_dummies(data['type'])
type_encoded

      Camper/RV  Campsite  Dome house  ...  Shared room  Tent  Tiny house
0             0         0           0  ...            0     0           0
1             0         0           0  ...            0     0           0
2             0         0           0  ...            0     0           0
3             0         0           0  ...            0     0           0
4             0         0           0  ...            0     0           0
...         ...       ...         ...  ...          ...   ...         ...
6360          0         0           0  ...            0     0           0
6361          0         0           0  ...            0     0           0
6362          0         0           0  ...            0     0           0
6363          0         0           0  ...            0     0           0
6364          0         0           0  ...            0     0           0

[6365 rows x 24 columns]

In [49]:
location_encoded = pd.get_dummies(data['location'])
location_encoded

      Ad Dilam  Ad Diriyah  Al Bahah  ...  المليداء  النماص  بريدة
0            0           0         0  ...         0       0      0
1            0           0         0  ...         0       0      0
2            0           0         0  ...         0       0      0
3            0           0         0  ...         0       0      0
4            0           0         0  ...         0       0      0
...        ...         ...       ...  ...       ...     ...    ...
6360         0           0         0  ...         0       0      0
6361         0           0         0  ...         0       0      0
6362         0           0         0  ...         0       0      0
6363         0           0         0  ...         0       0      0
6364         0           0         0  ...         0       0      0

[6365 rows x 34 columns]